<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="status-window"></div>
            <h2>Продукты</h2>
            <a href="/backend/web/products/productform" class="btn btn-primary">Добавить</a>
            <form action="/backend/web/products" id="psearch" method="GET">
                <div class="form-group">
                    <input type="text" name="search_product" class="form-control">
                    <input type="submit" class="btn btn-success" value="Поиск">
                </div>
                <div class="form-group" style="display:inline-block;">
                    <label>Выбрать поставщика</label>
                    <select name="search_merchant" id="action-postavshik">
                         <option value="" selected>Выберите поставщика</option>
                         {% for merchant in merchants %}
                         <option value="{{ merchant.id }}">{{ merchant.name }}</option>
                         {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-success" value="Выбрать">
                </div>
                <div class="clearfix"></div>
                <div class="form-group" style="display:inline-block;">
                    <label>Выбрать бренд</label>
                    <select name="search_brand" id="action-postavshik">
                         <option value="" selected>Выберите бренд</option>
                         {% for brand in brands %}
                         <option value="{{ brand.id }}">{{ brand.name }}</option>
                         {% endfor %}
                    </select>
                </div>
                  <input type="submit" class="btn btn-success" value="Выбрать">
               <div class="clearfix"></div>      
                <div class="form-group" style="display:inline-block;">
                    <label>Выбрать категорию</label>
                    <select name="search_sections" id="action-postavshik">
                         <option value="00" selected>Без категории</option>
                         {% for section in sections %}
                         <option value="{{ section.id }}">{{ section.name }}</option>
                         {% endfor %}
                    </select>
                </div>
                 <input type="submit" class="btn btn-success" value="Выбрать">
            </form>
            <form action="" style="float:right;margin-bottom:20px;" id="">
                <input type="hidden" name="_csrf-backend" value="{{ token }}"/>
                    <select name="" id="category-value">
                        <option value="" selected>Выберите категорию</option>
                        {{ catalog | raw }}
                    </select>
                <select name="" id="action-value">
                    <option value="" selected>Выберите действие</option>
                    <option value="delete">Удалить</option>
                </select>
                <input type="submit" class="btn btn-success" id="apply" value="Применить">
            </form>
            {{ data | raw }}
            <a class="btn btn-primary" style="color:#fff;" href="/backend/web/">Назад</a>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        var data = [];


        $('.grid-view tbody tr input[type=checkbox]').click(function () {
            var key = $(this).val();

            if($(this).attr('checked') == 'checked'){
                data.splice(data.indexOf(key), 1);
            }else{
                if (key == '') {
                    return false
                } else {
                    data.push(key);
                }
            }

            if($(this).attr('checked')){
                $(this).removeAttr('checked');
            }else{
                $(this).attr('checked','checked');
            }

        });


        $('#apply').click(function (e) {
            var category = $('#category-value').val();
            var action = $('#action-value').val();

            e.preventDefault();

            $.post('/backend/web/products/makemyactions',{ data: data,cat:category,act:action},function (resp) {
               $('.status-window').text(resp['error_insert']).css('background','#b91717').fadeIn().delay(2000).fadeOut();
               $('#category-value').val("");
               $('#action-value').val("");
            });
        });

        $('.select-on-check-all').click(function (e) {
            $(this).toggleClass('active-check');
            if($(this).hasClass('active-check')){
                $('.grid-view tbody tr input[type=checkbox]').each(function () {

                    $(this).attr('checked','checked');
                    data.push($(this).val());
                });
            }else{
                $('input[type=checkbox]').each(function () {
                    $(this).removeAttr('checked');
                    data = [];
                });
            }


        });
    }
</script>