<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Загрузка товаров</h2>
            <div>{{ resp }}</div>
            <a href="/backend/web/parsers" class="btn btn-primary">Назад</a>
        </div>
    </div>
</div>