<template>
  <div class="home">
    <Menu v-if="visionMain"></Menu>
    <Catalog v-if="visionMain"></Catalog>
    <Login v-if="loginVision"></Login>
  </div>
</template>

<script>
// @ is an alias to /src
import Catalog from '@/components/Catalog.vue'
import Menu from '@/components/Menu.vue'
import Login from '@/components/Login.vue'

export default {
  name: 'home',
  components: {
      Menu,
      Catalog,
      Login
  },
  data:function(){
    return {
        visionMain:false,
        loginVision:true,
        user:this.$store.state.user
    }
  },
  created:function(){
    if(this.user == ''){
        this.$on('logined',function(){
          this.visionMain = true;
          this.loginVision = false;
        })
    }else{
          this.visionMain = true;
          this.loginVision = false;
    }
  }
}
</script>
