<template>
    <div>
        <Menu></Menu>
           <div class="container">
               <div class="row">
                   <div class="col-12">
                       <h2 class="order-title"></h2>
                       <div class="row actions justify-content-end">
                           <a :href="pdfdata" v-if="pdfdata !==''" target="_blank" download="">Ссылка на pdf</a>
                           <div class="modal-template" v-show="modalvision">
                               <div class="clearfix"></div> 
                               <input id="tempName" type="text" name="template-text" placeholder="Название шаблона" v-model="templateName">
                               <button style="display:inline-block;" class="btn btn-success action-button" @click="saveCart">Ок</button>
                           </div>
                           <div class="btn btn-danger action-button" id="button-save-order" @click="modalvision = true">Сохранить корзину</div>
                           <div class="btn btn-success action-button" @click="sendPDF">в PDF</div>
                           <div class="btn btn-warning action-button">в Exel</div>
                            <button class="btn btn-success action-button" @click="togglePrice"><span>Доллары</span>/<span>рубли</span></button>
                       </div>
                       <label style="font-weight:bold;font-size: 20px;" for="">Скидка</label>
                       <input type="text" class="form-control sale-input" v-model="sale" id="sale-input">
                       <div id="toPDF">
                           <div class="row">
                               <div class="col-12">
                                   <div class="template-data" v-html="currentTemplate.data"></div>
                               </div>
                           </div>
                           <div class="row order-items">
                                <div class="col-12" v-for="(order,index) in currentOrder" :key="index">
                                    <OrderItem :delbutton="visionDelete" :order="order"></OrderItem>
                                </div>
                           </div>
                            <div class="sale"><span>Скидка: </span>{{ sale }} %</div>
                           <div class="summ"><span>Сумма со скидкой: </span> {{ summ }} {{ this.$store.state.valuta }}</div>
                            <div class="summ"><span>Общая сумма: </span> {{ sale_summ }} {{ this.$store.state.valuta }}</div>
                            <div class="row">
                               <div class="col-12">
                                   <div class="template-data footer-template" v-html="currentTemplate.data_footer"></div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
    </div>
</template>

<script>
    import Menu from '@/components/Menu.vue'
    import OrderItem from '@/components/OrderItem.vue'
    import $ from 'jquery'

    export default {
        name: "Template",
        components:{
          Menu,
          OrderItem
        },
        data:function () {
            return {
                visionDelete: true,
                pdfdata:'',
                templateName:'',
                modalvision:false,
                prices_dollars:false,
            }
        },
        computed:{
            sale:{
                get:function(){       
                    return this.$store.state.sale;
                },
                set:function(newValue){
                    this.$store.state.sale = newValue
                }

            },
            selectedOffer(){
                return this.$store.state.selectedOffer
            },
            currentTemplate(){
               return this.$store.state.template
            },
            currentOrder(){
                return this.$store.state.order
            },
            sale_summ(){
                let order = this.$store.state.order
                let res = 0;

                for (let item of order) {                   
                        res += Math.ceil(parseInt(item.price_roznica*item.quant))
                }

                return res;
            },
            summ() {
                let order = this.$store.state.order
                let res = 0;
                let sale;
             
                if(this.sale == 0){
                    sale = 100
                }else{
                    sale = this.sale
                }
           
             
                if(sale == 100 ){ 
                        res = this.sale_summ
                        
                    }else{
                        res = this.sale_summ - Math.ceil(parseInt(this.sale_summ)*(sale / 100))
                    }

                return res;
            }
        },
        methods:{
            togglePrice(){
                 this.$store.dispatch('toggleprice')
            },
            sendPDF(){
                var plus = document.querySelectorAll('.plus');
                var minus = document.querySelectorAll('.minus');
        
                plus.forEach(function(i){
                    i.style.display = 'none';
                })

                 minus.forEach(function(i){
                    i.style.display = 'none';
                })

                var html = 'body=' + $('#toPDF').html();

                var vm = this
               
                fetch(vm.$store.state.url+'backend/web/api-pdf',{
                   method: 'put',
                   headers: {
                       'Accept': 'application/json, text/plain, */*',
                       'Content-Type': 'application/json'
                   },
                   body: html.replace(/удалить/g,'')
                })
                   .then(function (response) {
                     return response.json()
                   })
                   .then(function (data) {
                            vm.pdfdata = data;
                            plus.forEach(function(i){
                                i.style.display = 'inline-block';
                            })

                            minus.forEach(function(i){
                                i.style.display = 'inline-block';
                            })

                   })
            },
            saveCart(){
                var templateId = this.currentTemplate.id;
                var userId = this.$store.state.user.id;
                var data = this.$store.state.order;
                var sale = this.sale;
                var self = this;
                var name = this.templateName;
                var button = document.getElementById('button-save-order');
                var input = document.getElementById('tempName');

                if(name === ''){
                    input.focus();
                    return false;
                }

                $.post(self.$store.state.url+'backend/web/api-saveorder',{
                    template:templateId,
                    user:userId,
                    data:data,
                    sale:sale,
                    name:name,
                },function(){
                    button.innerText = 'Шаблон успешно сохранен';
                    setTimeout(function(){
                          self.modalvision = false;
                          self.templateName = '';
                          button.style.backgroundColor = '#28a745';
                          button.style.borderColor = '#28a745';
                          setTimeout(function(){
                            button.style.backgroundColor = '#dc3545';
                            button.style.borderColor = '#dc3545';
                            button.innerText = 'Сохранить корзину';
                          },2000);
                    },1000);    
                    
                })
            },
        },
    }
</script>

<style  lang="scss">
    .sale-input{
        width:100px;
        margin:0px 0px 40px 0px;
    }
    .sale{
        padding-top: 30px;
        margin-left: 30px;
        clear:both;
        float:right;
        width:140px;
        & span{
            font-weight: bold;
            margin-right: 20px;
        }
    }
    .summ{
        padding-top: 30px;
        float:right;
        width:265px;
        & span{
            font-weight: bold;
            margin-right: 20px;
        }
    }
    .order-title{
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .action-button{
        margin:0px 15px;
        margin-bottom: 30px;
        padding:5px 20px;
    }
    .footer-template{
        margin-top:180px;
    }
    .modal-template input{
        position: relative;
        top:-15px;
    }
    .modal-template{
        border: 1px solid gray;
    padding: 10px;
    position: absolute;
    margin-top: -60px;
    background: #f1f1f1;
    width: 327px;
    }
</style>