<template>
    <div>
        <button class="btn btn-primary btn-add" @click.stop="addItem">Добавить</button>
    </div>
</template>

<script>
    export default {
        name: "ButtonOrder",
        props:['id'],
        computed:{
            orderItem(){
                this.$store.dispatch('set_one_product',this.id);
                return this.$store.getters.get_product
            }
        },
        methods:{
            addItem(){
                this.$store.dispatch('set_order', this.orderItem)
            }
        }
    }
</script>

<style scoped>
    .btn-add{
        margin-top:10px;
    }
</style>