<template>
    <div class="container">
        <div class="row justify-content-center mt-5 login-form">
            <h3 style="width:100%;text-align:center;">Авторизуйтесь как пользователь</h3>
            <div class="clearfix"></div>
            <form id="login-form">
                <div class="form-group">
                    <label class="form-label">
                        <input type="text"  v-model="user" class="form-control" name="login" value="" required placeholder="Логин">
                    </label>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        <input type="password" v-model="password" class="form-control" name="password"  value="" required placeholder="Пароль">
                    </label>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Войти" class="btn btn-primary w-100" @click.prevent="Login()">
                </div>
                    <input type="hidden" name="_csrf-backend" :value="csrf" />
            </form>
            <div class="w-100 log-error">{{ error }}</div>
        </div>
    </div>
</template>

<script>
    export default {
        data:function(){
            return {
                csrf: this.$store.state.csrf,
                user:'',
                password:'',
                validate: '',
                user_data:[],
                error:"",
            }
        },
        methods: {
            Login: function () { 
                var self = this;
                fetch(self.$store.state.url+'backend/web/api-login', {
                        method:"put",
                        headers: {
                            'Access-Control-Allow-Origin': "*",
                            'Accept': 'application/json, text/plain, */*',
                            'Content-Type': 'application/json'
                        },
                        body: 'login='+this.user+'&password='+this.password
                    })
                    .then(function (response) {
                        return response.json()
                    })
                    .then(function (data) {
                        self.validate = data.visible;
                        self.user_data = data.user_data;
                        self.$store.dispatch('set_all_data',data.user_data.id);
                    });
            }
        },
        created:function(){
            this.$store.dispatch('get_csrf');       
        },
        watch:{
            validate(){
                if(this.validate !== false){
                    this.$store.dispatch('set_user',this.user_data);
                    this.error = "";
                    this.$parent.$emit('logined');
                }else{
                    this.error = "Проверьте правильность данных вашего пользователя"
                }
            }
        }
    }
</script>

<style scoped>
    .login-form {
        background: #f1f1f1;
        padding:20px;
    }
    .log-error{
        text-align: center;
        color:#d21c1c;
    }
</style>