<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="width:100%;max-height:60px;">
            <a class="navbar-brand" href="#">{{ avatar }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav col-xl-8">
                    <li class="nav-item active">
                        <router-link :to="{ name: 'home' }">
                        <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="templates-aside" @click="switchSlide('template')">Шаблоны</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="catalog-aside" @click="switchSlide('catalog')">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="catalog-aside" @click='brands = !brands;offers = false;postavshik = false'>Бренды</a>
                        <ul id="offers" v-show="brands">
                            <li @click="resetBrand" style="font-weight:bold;">Все бренды</li>
                            <li @click="selBrand(offer.id)" v-for="(offer,index) in brandsData" :key="index" :data-id="offer.id">{{ offer.id+'. '+offer.name }}</li>
                        </ul> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="catalog-aside" @click='postavshik = !postavshik;brands = false;offers = false;'>Поставщики</a>
                        <ul id="offers" v-show="postavshik">
                             <li @click="resetPostv" style="font-weight:bold;">Все поставщики</li>
                            <li @click="selMerch(offer.id)" v-for="(offer,index) in merchantsData" :key="index" :data-id="offer.id">{{ offer.id+'. '+offer.name }}</li>
                        </ul>  
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" @click='offers = !offers;brands = false;postavshik = false;'>Мои офферы</a>
                        <ul id="offers" v-show="offers">
                            <li @click="selCart(offer.id)" v-for="(offer,index) in offersData" :key="index" :data-id="offer.id">{{ '#'+offer.id+' '+offer.name }}</li>
                        </ul>    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backend/web">Админка</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Выйти</a>
                    </li>
                    <li>
                        <Search></Search>
                    </li>
                </ul>
                <div class="col-xl-3 text-center font-weight-bold template__title-current">
                  <div style="" v-if="currentTemplate.name !== undefined">Шаблон {{ currentTemplate.name }}</div>
                </div>
                <div class="col-xl-1 justify-content-end right-block"><div class="text-right">
                    <router-link :to="{ name: 'template', params: { templateId: templateId }}">
                        <div style="color:#ff3119;" class="card-error" v-if="choose" @click="switchSlide('template')">Выберите шаблон</div>
                        <div class="card-title" @click="chooseTemplate">Корзина</div>
                    </router-link></div></div>
               </div>
        </nav>
        <transition name="slide">
            <aside id="template-side" v-if="slidetemplate">
                <label for="">Поиск шаблонов</label>
                <form action="" class="form-inline filter-templates">
                    <div class="form-group">
                        <input type="text" class="form-control">
                        <input type="submit" value="Поиск" class="btn btn-primary ml-2">
                    </div>
                </form>
                <ul class="list-group templates-list" v-for="(template_item,index) in templates" :key="index">
                    <li  @click="selectTemplate(template_item.id)" class="list-group-item list-group-item-action font-weight-bold" >{{ template_item.name }}</li>
                </ul>
            </aside>
        </transition>
        <aside id="catalog-side" v-if="slidevis">
            <label for="">Каталог</label>
            <ul class="cat-list">
                <li v-for="(cat,index) in catalog" :key="index" @click="choseCat(cat.id)">{{ cat.name }}</li>
            </ul>
            <button @click="resetCat" class="btn btn-danger action-button" v-show="reset">Сбросить</button>
        </aside>
    </div>
</template>

<script>
    import Search from '@/components/search.vue'

    export default {
        name: "Menu",
        data:function () {
           return {
               slidevis: false,
               slidetemplate:false,
               choose:false,
               avatar: this.$store.state.user.username,
               offers:false,
               currentTemplate:this.$store.state.template,
               reset:false,
               postavshik:false,
               brands:false,
           }
        },
        components:{
          Search
        },
        computed: {
            cacheCat(){
                return this.$store.state.prod_default
            },
            catalog(){
               
              return this.$store.state.all_data.catalog    
            },
            templateId(){
                return this.$store.state.template.id
            },
            templates(){
                return this.$store.getters.get_all_data.templates
            },
            offersData(){
                return this.$store.getters.get_all_data.user_carts
            },
            brandsData(){
                 return this.$store.getters.get_all_data.brands
            },
            merchantsData(){
                 return this.$store.getters.get_all_data.merchants
            }
        },
        methods: {
            // randomColor:function(){
            //     let r=Math.floor(Math.random() * (256));
            //     let g=Math.floor(Math.random() * (256));
            //     let b=Math.floor(Math.random() * (256));
            //     return 'rgb(' + r +','+ g +','+ b+')';
            // },
            resetBrand(){ 
                this.$store.state.products = []
                this.$store.state.products = this.$store.state.prod_default
            },
            resetPostv(){
                this.$store.state.products = []
                this.$store.state.products = this.$store.state.prod_default
            },
            resetCat(){
                this.$store.state.products = []
                this.$store.state.products = this.cacheCat
                this.reset = false
            },
            choseCat(id){
               var prods = this.$store.getters.get_products
               var self = this
             
                fetch(this.$store.state.url+'backend/web/api-filtcat', {
                    method:'put',
                    headers: {
                        'Access-Control-Allow-Origin': "*"
                    },
                    body:'&cat_id='+id+'&_csrf-backend='+self.$store.state.csrf
                }).then(function (response) {
                    return response.json();
                    }).then(function (data) {
                //Фильтруем
                    self.$store.state.products = [];
                    data.forEach(function(v,i){
                        self.$store.state.products.push(v);
                    })
                });  
                this.reset = true
            },
            listenTemplate(){
                this.$emit('opentemplates')
            },
            selCart(id){
                   var selectedOffer;

                   selectedOffer = this.offersData.filter(function (item) {
                        if(item.id == id){
                            return item;
                        }
                   }); 
                   this.currentTemplate.name = selectedOffer[0].name;
                   this.$store.dispatch('selectCart',selectedOffer)
            },
            selBrand(id){
                var prods = this.$store.state.prod_default;
                var self = this;
                var selectedBrands;

                self.$store.state.products = []
                selectedBrands = prods.filter(function (item) {
                        if(item.brand_id == id){
                            self.$store.state.products.push(item);
                        }
                }); 
            },
            selMerch(id){
                var prods = this.$store.state.prod_default;
                var self = this;
                var selectedBrands;

                self.$store.state.products = []
                selectedPostv = prods.filter(function (item) {
                        if(item.brand_id == id){
                            self.$store.state.products.push(item);
                        }
                });
            },
            chooseTemplate:function(){
              this.choose = (this.templateId == undefined)  ? true : false
            },
            switchSlide:function (e) {
                switch (e) {
                    case "template":
                        this.slidetemplate = !this.slidetemplate;
                        this.slidevis =  false;
                        break;
                    case "catalog":
                        this.slidevis =  !this.slidevis;
                        this.slidetemplate = false;
                        break;
                }
            },
            //Выбираем шаблон из списка
            selectTemplate:function (id) {
                let result;
                this.choose = false
                    for(let item of this.templates){
                      if(item.id == id){
                          result = item
                      }
                    }

                this.currentTemplate = result
                //Сохраняем шаблон в хранилище в текущий шаблон
                this.$store.dispatch('set_template_current',this.currentTemplate);
            }
        },
    }
</script>

<style scoped lang="scss">
    .template__title-current{
        font-size:30px;
        color:#FFF;
    }
    .card-title{
        display: inline;
        margin-left: 20px;
        cursor:pointer;
        color: rgba(255,255,255,.5);
        margin-top: 7px;
        &:hover{
            text-decoration: none !important;
        }
    }

    .card-error{
        display: inline;
        position: absolute;
        background: #a51010;
        width: 149px;
        font-size: 15px;
        right: 200px;
        top: -10px;
        color: #FFF !important;
        padding: 10px 9px;
    }
    .nav-item{
        margin-top: 13px;
    }

    .templates-list{
        margin-top: 30px;
        & li{
            color: #902f2f !important;
        }
    }
    .slide-transition{
        transition:all 2s linear;
    }

    .slide-enter{
        width:0px;
    }

    .slide-leave-to {
       width:0px;
    }

    .navbar .in {
        display: block !important;
    }
    .filter-templates{
        display:block !important;
    & .form-control{
          width:180px !important;
      }
    }

    #template-side{
        color: #aaabae;
        width: 300px;
        float: left;
        height: 100vh;
        background: #303641;
        -webkit-box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
        -moz-box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
        box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
        transition:0.3s;
        margin-right: 40px;
        padding:40px 15px;
        position: relative;
    }
    #catalog-side{
        color: #aaabae;
        width: 300px;
        float: left;
        height: 100vh;
        background: #303641;
        -webkit-box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
        -moz-box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
        box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
        transition:0.3s;
        margin-right: 40px;
        padding:40px 15px;
        position: relative;
    }
    #offers{
    min-width: 250px;
    height: auto;
    background: #007bff;
    min-height: 200px;
    position: absolute;
    z-index: 1000;
    list-style-type: none;
    padding: 15px 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 8px;
    border-top: #0095ff 3px solid;
        & li{
            color:#FFF;
            margin-top: 10px;
            cursor:pointer;
        }
    }
    .cat-list{
        list-style-type: none;
        & li {
            margin-top: 10px;
            font-weight: bold;
            font-size:20x;
            color:#FFF;
            cursor:pointer;
        }
    }
</style>