<template>
    <div>
        <div class="btn-delete btn btn-danger" v-if="delvis" @click.stop="deleteItem">удалить</div>
        <div class="order-item"> <!-- @mouseover="delvis = !delvis" @mouseout="delvis=false"-->
            <div class="order-image"><img :src="order.thumbnails" alt=""></div>
            <div class="order-body">
                <div class="title font-weight-bold" style="font-weight:bold;"> {{ order.name }}</div>
                <div class="articul"><span style="font-weight:bold;">Артикул:</span> {{ order.articul }}</div>
                <div class="price-roz"><span style="font-weight:bold;">Цена:</span> {{ this.order.price_roznica }} {{ this.order.valuta }}</div>
                <div class="brand"><span style="font-weight:bold;">Бренд:</span> {{ order.brands.name }}</div>
                <div class="merch"><span style="font-weight:bold;">Поставщик:</span> {{ order.merchants.name }}</div>
                <div class="descr"><span style="font-weight:bold;">Описание:</span> {{ description }}</div>
                <div><div style="width: 140px;float:left;font-weight:bold;">Скидка на товар:</div><div @keyup="calcPrice" style="width:100px;float:left" contenteditable="true" class="">{{ sale }} %</div></div>
                <div class="quant" style="width:250px;">
                    <span class="quant-label" style="width:100px;float:left;font-weight:bold;">Количество:</span>  
                    <div class="minus" @click="minus">-</div>
                    <div class="q-span" contenteditable="true" id="qspan" style="display:inline-block;width:33px;float:left;">{{ quant }}</div>
                    <div class="plus" @click="raise">+</div> 
                </div>
              
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OrderItem",
        data:function(){
            return {
                sale:this.order.indsale,
                cachePrice:this.order.price_roznica,
                sale_hidden:0
            }
        },
        props:['order','delbutton'],
        computed:{
             quant:{
                get:function(){       
                    return this.order.quant;
                },
                set:function(newValue){
                    return newValue
                } 
             },
            description(){
                return (this.order.description !== ' ') ? this.order.description : 'Описание отсутствует'
            },
            delvis(){
                return (this.delbutton == true) ? true : false
            },
        },
        methods:{
            calcPrice(e){ 
               var sale = parseInt(e.target.innerHTML)/100
               this.order.price_roznica = Math.ceil(this.cachePrice-this.cachePrice*sale)
            },
            deleteItem(){
                this.$store.dispatch('delete_item', this.order)
            },
            raise(){
              this.order.quant++;
           
            },
            minus(){
               this.order.quant--;
            }
        }
    }
</script>

<style lang="scss">
    .sale-hidden{
        display:none;
    }
    .order-item{
        border-bottom:1px solid #b6b6b6;
        padding:15px 0px;
        display: flex;
        margin-top: 30px;
    }
    .order-image{
        display: block;
        float:left;
        width:20%;
        padding-right: 30px ;
        & img{
            width:100%;
            height:auto;
        }
    }
    .order-body{
        display: block;
        float:left;
        width:70%;
        &>div{
            margin-bottom: 10px;
            & span{
                font-weight: bold;
            }
        }
    }
    .btn-delete{
        position: absolute;
        right:10px;
    }
    .plus,.minus{
        display:inline-block;
        width:20px;
        text-align: center;
        cursor:pointer;
        float:left;
    }
    .q-span{
        border:1px solid #b6b6b6;
        background:#f7f7f7;
        text-align: center;
        font-weight:bold;
        padding:3px;
    }
    .quant{
        width:100%;
    }
    #sale-input-tovar{
        border: none !important;
        display: inline-block;
        width: 100%;
        & div{
            display:inline-block;
            width:30px;float:left
        }
    }
    .quant-label{
        display:inline;
        padding-right:20px;
    }
    .sale-label{
        width:150px;
        display:inline-block;
        float:left;
    }
</style>