<template>
    <div>
        <div class="form-group" id="search">
            <input v-model="search" type="text" class="form-control" placeholder="Поиск">
            <button class="btn btn-danger" v-show="butsearch" @click="resetSearch">Сбросить</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "search",
        data:function () {
            return {
                search: '',
                butsearch:false
            }
        },
        watch:{
            search(v){
                var self = this 
                var value = v
                if(value !== ''){
                    this.butsearch = true
                    //Поиск
                   self.$store.state.products.forEach(function(i){  
                            var reg = RegExp(value,'g')
                            if(reg.test(i.name) || reg.test(i.articul)){ 
                                console.log('найдено')
                                self.$store.state.searched.push(i);
                            }
                    });

                    self.$store.state.products = []
                    self.$store.state.searched.forEach(function(i){
                        self.$store.state.products.push(i)
                    })

                    self.$store.state.searched = []
                 
                }else{
                    this.butsearch = false
                    self.$store.state.products = self.cacheCat
                }    
            }
        },
        computed:{
             cacheCat(){
                return this.$store.state.prod_default
             }
        },
        methods:{
            resetSearch(){
                this.search = ''
                this.$store.state.products = this.cacheCat
            }
        }
    }
</script>

<style scoped>
    #search{
        margin-top: 12px;
        margin-left: 15px;
    }
    #search input{
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    }
    #search button{
        display: inline-block;
    }
</style>